body{
	height:100%;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
p{
word-wrap: break-word;
text-align: justify;
}

#jdNavBar{
	position: relative;
	top:3em;
} 


#navbutton{
	background-image:url('../images/cmenu.png');
	background-size:100% 100%;
	position: relative;
	top:1em;
}
#jdNavBar > ul > li > a{
	font-size:12px;
	font-weight:bold;
	color: #337AB7;
}
.banner-image {
	 border-style:none; 
	 opacity:0.8;
	 background-image:url('../images/banner.jpg');
	 background-size:100% 100%;
	 height:60vh;
	 width:95%;
}
.main-content {
	 /* border-style:solid; */ 
	 font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	 border-width:thin;
	 background-size:100% 100%;
	 height:40%; 
	 width:95%;
}
.footer-image {
	 border-style:none;
	 background-image:url('../images/footer.png'); 
	 background-size:100% 100%;
	 height:30vh; 
	 width:95%;
}

#jdNavBar > ul > li > a:hover {
    background-color: rgba(192,192,192,0);
}

#jdNavBar > ul > li > a:active {
    background-color: rgba(192,192,192,0);
}

#jdNavBar > ul > li > a:visited {
    background-color: rgba(192,192,192,0);
}

/* code for login popup */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h3 {
  margin-top: 0;
  color: #337AB7;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 50%;
  overflow: auto;
  font-family: Tahoma, Arial, sans-serif;
}
  
h4{
	color: rgba(53, 144, 180, 0.64);
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  /* font-family: Tahoma, "Times New Roman", sans-serif; */
}
.popup button:hover{
	background-color: #06D85F;
}
@media screen and (max-width: 700px){
  .box{
    width: 80%;
  }
  .popup{
    width: 80%;
  }
}