body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

#topNav{
	
	background-color: #99ccff;
}


.intro-section {
    padding: 0% 0;
   	text-align: justify;
    text-justify: inter-word;
    background: #fff;
}

.about-section {
	padding: 2% 0;
    text-align: center;
    background: #99ccff;
}

.services-section {
    padding: 2% 0;
    text-align: center;
    background: #fff;
}

.contact-section {
    padding: 2% 0;
    text-align: center;
    background: #99ccff;
}